.about-me{
	background-color: $color-principal;
	h3 {
	color: $color-secundario;
	}
	p, h3 {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	}
	img{
	padding: 40px;
	margin-top:60px;
	}
}


