.skills{
	background-color: white;

	h3{
	color: $color-secundario;
	background-color: black;
	}

	span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: $font-size;
    font-weight: bolder;
    font-family: $font-family2;
    color: #fff;
	}

	progress {
	    background-color: $color-principal;
	    border: 0;
	    height: 2.5em;
	    width: 100%;
	    ::-webkit-progress-bar {
	    background-color: #329ad1;
		}
		::-webkit-progress-bar {
	    background-color: #329ad1;
		}
		::-webkit-progress-value {
	    background-color: $color-secundario;
		}
		::-moz-progress-bar {
	    background-color: $color-secundario;
		}
	}
}
